<h5>Edição de Cursos</h5>
<p>Utilize os campos para alterar os dados de um curso</p>

<form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">
  <div *ngIf="mensagem" class="mb-3 alert alert-primary">
    <strong>{{mensagem}}</strong>
  </div>
  <!--hidden ocultar, para nao permitir que edit é read-->
  <!--campo oculto -->
  <input type="hidden" formControlName="idCurso" />

  <div class="row mb-3">
    <!--mb margem inferior -->
    <div class="col-md-6">
      <!-- 6 colunas-->
      <label>Descricao do Curso:</label>
      <input type="text" class="form-control" formControlName="descricao" />
      <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
        <span *ngIf="form.descricao.errors.required">
          Por favor insira a descricao do curso.
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <!-- 6 colunas-->
      <label> DataInicio :</label>
      <input type="date" class="form-control" formControlName="dataInicio" />
      <div class="text-danger" *ngIf="form.dataInicio.touched && form.dataInicio.invalid">
        <span *ngIf="form.dataInicio.errors.required">
          Por favor insira a data do inicio do curso.
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <!-- 6 colunas-->
      <label> DataTermino :</label>
      <input type="date" class="form-control" formControlName="dataTermino" />
      <div class="text-danger" *ngIf="form.dataTermino.touched && form.dataTermino.invalid">
        <span *ngIf="form.dataTermino.errors.required">
          Por favor insira a data do termino do curso.
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <!-- 6 colunas-->
      <label> id_Categoria :</label>
      <input type="text" class="form-control" formControlName="id" />
      <div class="text-danger" *ngIf="form.id.touched && form.id.invalid">
        <span *ngIf="form.id.errors.required">
          Por favor insira o id da categoria.
        </span>
      </div>
    </div>

  </div>



  <div class="row mb-3">
    <div class="col-md-12">
      <input type="submit" [disabled]="!formEdicao.valid" class="btn btn-success" value="Salvar Alterações" />
    </div>
  </div>
</form>
<br>
<br>
<button class="btn btn-primary" [routerLink]="['/app.component']">
    Voltar
  </button>