<h5>Consulta de Cursos/Categoria</h5>
<p>Listagem de cursos cadastrados por categoria</p>

<!--a tabela vai ter cabecalho, corpo e rodapé-->
<div class="col-md-3">

  <label>Nome: </label>

  <select class="form-select" [(ngModel)]="idCategoria">
    <option [selected]="true">Escolha a categoria</option>
    <option value="1">Multiplataforma</option>
    <option value="2">BD</option>
    <option value="3">Metodologia</option>
    <option value="4">Comportamento</option>
    <option value="5">Comunicacao</option>
  </select>

  <br>
  <br>
  <button (click)="buscarCursos()">Buscar</button>

</div>
<table class="table table-hover table-sm">

  <thead>
    <tr>
      <td>Descricao</td>
      <td>DataInicio</td>
      <td>DataTermino</td>
      <td>Tipo</td>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cursos">
      <td>{{ c.descricao }}</td>
      <td>{{ c.dataInicio| date: 'dd/MM/yyyy'}} </td>
      <td>{{ c.dataTermino| date: 'dd/MM/yyyy'}} </td>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6">Total de registros :{{ this.cursos.length }}</td>
    </tr>
  </tfoot>



</table>
<br>
<br>
<button class="btn btn-primary" [routerLink]="['/app.component']">
  Voltar
</button>